<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 >
    Welcome to {{title}}!
  </h1>
</div>


<div class="container">
    <div class="row">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          
          <ul class="nav navbar-nav">
            <li  routerLink="/" routerLinkActive="active"><a >Home</a></li>
            <li  routerLink="/employee" routerLinkActive="active"><a>Employee</a></li>
            <li  routerLink="/project" routerLinkActive="active"><a>Project</a></li>
          </ul>
        </div>
      </nav>
</div>
<div class="row">
    <router-outlet></router-outlet>
</div>
 
</div>


